# Mac Specific

.DS_Store
.AppleDouble
.LSOverride

# ignore IntelliJ project files
.idea
*.iml

**/target
**.project
**/.settings
**.classpath
**.class
**.springBeans
**/.idea
**/.DS_Store
**.iml
**/bin/
**/.vscode
**/.idea
**/node_modules
**/package-lock.json
**.zip
**.yml
**.doc
**.docx
**.ppt
**.pptx
**.pydevproject
**.h5
**.png
